
 <div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-md-9 mb-3">
      <ng-template [dynamicBlock]="attr.bannerhome"></ng-template>
    </div>
    <div class="second-slide col-12 col-md-3 mb-3 pl-md-2">
      <ng-template [dynamicBlock]="attr.block1"></ng-template>
    </div>
  </div>
  <ng-template [dynamicBlock]="attr.showcase1"></ng-template>
  <ng-template [dynamicBlock]="attr.showcase2"></ng-template>
  <ng-template [dynamicBlock]="attr.showcase3"></ng-template>
  <ng-template [dynamicBlock]="attr.showcase4"></ng-template>
  <ng-template [dynamicBlock]="attr.certifications"></ng-template>
</div>
